.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--ctp-surface0-rgb);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 2px solid var(--ctp-surface2-rgb);
}

.post-entry:hover {
    border: 2px solid var(--ctp-rosewater-rgb);
}

.post-entry > .entry-cover > img {
    object-fit: cover;
    max-height: 220px;
    overflow: hidden;
}

/* TODO: WIP modify cover image */
/* 
.post-entry {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows:auto;
}
  
.post-entry > figure > img {
    object-fit: none;
    max-height: 120px;
}
  
  
.post-entry > header {
    grid-column: 1 / 2;
    grid-row: 1;
}

.post-entry > figure {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.post-entry > .entry-content {
    grid-column: 1 / 2;
    grid-row: 2;
}

.post-entry > footer {
    grid-column: 1 / 3;
    grid-row: 3;
}

.entry-cover {
    margin-bottom: 0;
    margin-left: var(--gap);
} */