::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 5px solid var(--ctp-base-rgb);
    border-radius: var(--radius);
}

::-webkit-scrollbar:not(.highlighttable, .highlight table, .gist .highlight) {
    background: var(--ctp-base-rgb);
}
